<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vigi.patient">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".utils.fontFamilyInitiaton"
        tools:replace="android:label"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name_app_text"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".initiation.welcomeScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- HOME ACTIVITY -->
        <activity
            android:name=".initiation.home"
            android:screenOrientation="portrait" />
        <!-- REGISTER ACTIVITY -->
        <activity
            android:theme="@style/AppThemeSecondary"
            android:name=".initiation.register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <!-- LOGIN ACTIVITY -->
        <activity
            android:name=".initiation.login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <!-- FORGOT_PASSWORD ACTIVITY -->
        <activity
            android:name=".initiation.forgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".initiation.login" />
        </activity>
        <!-- USER MAIN ACTIVITY -->
        <activity
            android:name=".user.main"
            android:screenOrientation="portrait" />
    </application>

</manifest>