<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="horusai.masterapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.FontFamilyInitiaton"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_vigi"
        android:label="@string/name_app_text"
        android:roundIcon="@mipmap/ic_launcher_vigi_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- HOME ACTIVITY -->
        <activity
            android:name=".initiation.Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- LOGIN ACTIVITY -->
        <activity
            android:name=".initiation.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- FORGOT_PASSWORD ACTIVITY -->
        <activity
            android:name=".initiation.ForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".initiation.Login" />
        </activity>
        <!-- CHANGE_PASSWORD ACTIVITY -->
        <activity
            android:name=".initiation.ChangePassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".initiation.ForgotPassword" />
        </activity>
        <!-- PROFILE ACTIVITY -->
        <activity
            android:name=".initiation.ConfigureTypeUser"
            android:screenOrientation="portrait" />
        <!-- ASK FOR PHONE ACTIVITY -->
        <activity
            android:name=".initiation.Telephone"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".initiation.Home" />
        </activity>
        <!-- ASK FOR CODE ACTIVITY -->
        <activity
            android:name=".initiation.ConfirmationCode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".initiation.Telephone" />
        </activity>
        <!-- REGISTER ACTIVITY -->
        <activity
            android:name=".initiation.Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- USER HOME ACTIVITY -->
        <activity
            android:name=".user.Main"
            android:screenOrientation="portrait" />
    </application>

</manifest>